:root {
    --special-button-width: 10em;
    --special-button-height: 3.5em;
    --special-button-border: 3px ridge;
    --special-button-background: transparent;
    --special-button-transition: 0.3s;
    --special-button-border-radius: 0.3em;
    --special-button-font-size: 16px;
    --special-button-cursor: pointer;
    --special-button-shadow: inset 0px 0px 25px;
    --special-button-after-before-width: 95%;
    --special-button-after-before-height: 40%;
    --special-button-after-before-transition: 0.1s;
  }
  
  /* Blue Button */
  .button-blue {
    --special-button-color: white;
    --special-button-border-color: #149CEA;
    --special-button-hover-shadow-color: #1479EA;
  }
  
  .button-blue {
    width: var(--special-button-width);
    position: relative;
    height: var(--special-button-height);
    border: var(--special-button-border) var(--special-button-border-color);
    outline: none;
    background-color: var(--special-button-background);
    color: var(--special-button-color);
    transition: var(--special-button-transition);
    border-radius: var(--special-button-border-radius);
    font-size: var(--special-button-font-size);
    font-weight: var(--special-button-font-weight);
    cursor: var(--special-button-cursor);
  }
  
  .button-blue::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 3%;
    width: var(--special-button-after-before-width);
    height: var(--special-button-after-before-height);
    background-color: var(--special-button-after-before-background);
    transition: var(--special-button-after-before-transition);
    transform-origin: center;
  }
  
  .button-blue::before {
    content: "";
    transform-origin: center;
    position: absolute;
    top: 80%;
    left: 3%;
    width: var(--special-button-after-before-width);
    height: var(--special-button-after-before-height);
    background-color: var(--special-button-after-before-background);
    transition: var(--special-button-after-before-transition);
  }
  
  .button-blue:hover::before, .button-blue:hover::after {
    transform: scale(0);
  }
  
  .button-blue:hover {
    box-shadow: var(--special-button-shadow) var(--special-button-hover-shadow-color);
  }
  
  /* Green Button */
  .button-green {
    --special-button-color: white;
    --special-button-border-color: #14EA7D;
    --special-button-hover-shadow-color: #14EA3D;
  }
  
  .button-green {
    width: var(--special-button-width);
    position: relative;
    height: var(--special-button-height);
    border: var(--special-button-border) var(--special-button-border-color);
    outline: none;
    background-color: var(--special-button-background);
    color: var(--special-button-color);
    transition: var(--special-button-transition);
    border-radius: var(--special-button-border-radius);
    font-size: var(--special-button-font-size);
    font-weight: var(--special-button-font-weight);
    cursor: var(--special-button-cursor);
  }
  
  .button-green::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 3%;
    width: var(--special-button-after-before-width);
    height: var(--special-button-after-before-height);
    background-color: var(--special-button-after-before-background);
    transition: var(--special-button-after-before-transition);
    transform-origin: center;
  }
  
  .button-green::before {
    content: "";
    transform-origin: center;
    position: absolute;
    top: 80%;
    left: 3%;
    width: var(--special-button-after-before-width);
    height: var(--special-button-after-before-height);
    background-color: var(--special-button-after-before-background);
    transition: var(--special-button-after-before-transition);
  }
  
  .button-green:hover::before, .button-green:hover::after {
  }
  
  .button-green:hover {
    box-shadow: var(--special-button-shadow) var(--special-button-hover-shadow-color);
  }
  